{% extends 'catalogo/base.html' %}

{% block content %}
    <h2>Lista de Departamentos</h2>
    <table>
        <thead>
            <tr>
                <!--1er th para el 1er td-->
                <th>DEPARTAMENTO</th>
                <th>PAIS</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <!--ACCEDER A LOS DATOS GUARDADOS -->
            <!--CON EL NOMBRE DEFINIDO EN LA VISTA "departamentos"-->
            {% for departamento in departamentos %}
                <tr>

                    <td>{{ departamento.nombre }}</td>  
                    <td>{{ departamento.pais.nombre }}</td>
                    <td><a href="{% url 'departamento-update' departamento.id %}">Editar</a>
                        <a href="{% url 'departamento-delete' departamento.id %}">Eliminar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Enlace para agregar -->
    <a href="{% url 'departamento-add' %}">Agregar Departamento</a>
{% endblock %}
