{% extends 'catalogo/base.html' %}

{% block content %}
    <h2>Lista de Departamentos</h2>

    
    <!-- Formulario de búsqueda -->
    <form method="get">
        <input type="text" name="search" placeholder="Buscar departamento o pais" value="{{ request.GET.search }}">
        <button type="submit">Buscar</button>
    </form>

    <table>
        <thead>
            <tr>
                <!--1er th para el 1er td-->
                <th>DEPARTAMENTO</th>
                <th>PAIS</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <!--ACCEDER A LOS DATOS GUARDADOS -->
            <!--CON EL NOMBRE DEFINIDO EN LA VISTA "departamentos"-->
            {% for departamento in departamentos %}
                <tr>

                    <td>{{ departamento.nombre }}</td>  
                    <td>{{ departamento.pais.nombre }}</td>
                    <td><a href="{% url 'departamento-update' departamento.id %}">Editar</a>
                        <a href="{% url 'departamento-delete' departamento.id %}">Eliminar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

     
    <!-- Paginación -->
    <div>
        {% if departamentos.has_other_pages %}
            <span>
                {% if departamentos.has_previous %}
                    <a href="?page=1&search={{ request.GET.search }}">Primera</a>
                    <a href="?page={{ departamentos.previous_page_number }}&search={{ request.GET.search }}">Anterior</a>
                {% endif %}
                Página {{ departamentos.number }} de {{ departamentos.paginator.num_pages }}.
                {% if departamentos.has_next %}
                    <a href="?page={{ departamentos.next_page_number }}&search={{ request.GET.search }}">Siguiente</a>
                    <a href="?page={{ departamentos.paginator.num_pages }}&search={{ request.GET.search }}">Última</a>
                {% endif %}
            </span>
        {% endif %}
    </div>

    <!-- Enlace para agregar -->
    <a href="{% url 'departamento-add' %}">Agregar Departamento</a>
{% endblock %}
