{% extends 'catalogo/base.html' %}

{% block content %}
    <h2>Lista de Países</h2>

<!--CREAMOS LA TABLA-->
    <table>
        <thead>
            <tr>
                <th>PAÍS</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}

            <tr>
                <td>{{pais.nombre}}</td>
                <td><a href="{% url 'pais-update' pais.id %}">Editar</a>
                    <a href="{% url 'pais-delete' pais.id %}">Eliminar</a></td>
            </tr>

        </tbody>
        {% endfor %}
    </table>

        <!-- Enlace para agregar -->
        <a href="{% url 'pais-add' %}">Agregar País</a>
{% endblock %}


